#{extends 'main_title_bar.html'/}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/information.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/bar.css'}" />
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/information.js'}"></script>
#{/set}
#{set title:'修改密码'/}
        <div class="content">
            <div class="infobar">
                <p>
                    <strong>修改密码</strong> (用*标记的信息是十分重要的信息)
                </p>
            </div>
            <form action="@{Users.changePassword}">
            <input type="hidden" name="fromPath" value=${fromPath}/>
			<label for="" class="error" style="color: red;float:none;">${message}</label>
                <span>
                    <label for="account">用户账号:</label> 
                    <label for="#" id="account">${account}</label>
                    <input type="hidden" name="account" value="${account}"/>
                </span>

                <span>
                    <label for="oldPasswordinput">*旧密码:</label>
                    <input type="password" name="oldPassword" value="${oldPassword}"  id="oldPasswordinput" onblur="onBlur(this,'oldPassword');" onfocus="onFocus(this,'oldPassword');"/>
                    <label for="" class="error" style="color: red;float:none;">#{error 'oldPassword'/}</label> 
                    <label for="#" id="oldPassword" class="remind">请输入正确的旧密码</label>
                </span>

                <span>
                    <label for="newPasswordinput">*新密码:</label>
                    <input type="password" name="newPassword" value="${newPassword}" id="newPasswordinput" onblur="onBlur(this,'newPassword');" onfocus="onFocus(this,'newPassword');"/>
                    <label for="" class="error" style="color: red;float:none;">#{error 'newPassword'/}</label> 
                    <label for="#" id="newPassword" class="remind">请输入正确的新密码</label>
                </span>

                <span>
                    <label for="reNewPasswordinput">*重复新密码:</label>
                    <input type="password" name="reNewPassword" value="${reNewPassword}" id="reNewPasswordinput" onblur="onBlur(this,'reNewPassword');" onfocus="onFocus(this,'reNewPassword');"/>
                    <label for="" class="error" style="color: red;float:none;">#{error 'reNewPassword'/}</label> 
                    <label for="#" id="reNewPassword" class="remind">请输入正确的重复新密码</label>
                </span>

                <span class="submit">
                    <input type="submit" onclick="verification();"/>
                    <label for="" class="error" style="color: red;float:none;">${errorMessage}</label>
                </span>

            </form>
        </div>
