<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hci.wlzz.android.UI"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".Search" >
        </activity>
        <activity android:name=".Login" >
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpandAdapter" >
        </activity>
        <activity android:name=".StationManagerList" >
        </activity>
        <activity android:name=".VerifyCode" >
        </activity>
        <activity android:name=".VerifyCodeView" >
        </activity>
        <activity android:name=".StationLogin" >
        </activity>
        <activity android:name=".OrderInfo" >
        </activity>
        <activity android:name=".EditOrderInfo" >
        </activity>
        <activity android:name=".PersonLookInfo" >
        </activity>
        <activity android:name=".StationLookInfo" >
        </activity>
        <activity android:name=".PersonInfo" >
        </activity>
        <activity android:name=".StationInfo" >
        </activity>
        <activity android:name=".EditStationInfo" >
        </activity>
        <activity android:name=".StationList" >
       
        </activity>
        <activity android:name=".OrderList" >
        </activity>
    </application>

</manifest>