#{extends 'main_title_bar.html'/}
#{set title:'订单处理'/}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/checkOrder.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/bar.css'}" />
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/action.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/checkOrder.js'}"></script>
#{/set}
    <div id="content" class="content">
        <div class="infobar"><strong>查询订单</strong> </div>
        <form action="#" method="#">
            <div id="explain" class="explain" >
                <span>${message}</span>
                <span>&nbsp&nbsp&nbsp&nbsp</span>
                <span>订单信息:</span>    
                <span>用户昵称: ${orderForm?.userName}</span>
                <span>订 单 号: ${orderForm?.code}</span>
                <span>邮&nbsp&nbsp&nbsp&nbsp编: ${orderForm?.zipCode}</span>
                <span>数&nbsp&nbsp&nbsp&nbsp量: ${orderForm?.amount}</span>
                <span>重&nbsp&nbsp&nbsp&nbsp量: ${orderForm?.weight}</span>
                <span>条 形 码: ${orderForm?.barcode}</span>
                <span>详细地址: ${orderForm?.address}</span>
                <span>订单内容: ${orderForm?.content}</span>
                <span>&nbsp&nbsp&nbsp&nbsp</span>
                <span>&nbsp&nbsp&nbsp&nbsp</span>
            </div>
            <div id="explain" class="explain" >
                <span>依次经过的工作站:</span>
                <span>&nbsp&nbsp&nbsp&nbsp</span>
                #{list items:orderDetails,as:'od'}
                <span>工作站:${od.station.name}</span>
                <span>时&nbsp&nbsp间:${od.time} </span>
                <span>处理人:${od.userInfo.name} </span>
                <span>下一站:${controllers.Stations.getStationName(od.nextStationId)}</span>
                <span>描&nbsp&nbsp述:${od.description} </span>
                <span>&nbsp&nbsp&nbsp&nbsp</span>
                #{/list}
            </div>
        </form>
    </div>
