#{extends 'main.html'/}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="@{'/public/stylesheets/common.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/layout.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/table.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/checkOrderList.css'}" />
	<script type="text/javascript" src="@{'/public/javascripts/searchInput.js'}"></script>
	<title>站台订单信息</title>
</head>
<body>
	<div class="header">
		<p>你好，欢迎来到物流追踪系统!</p>
	</div>
	<div class="main">
		<div class="title">
			<img src="../image/title.png" alt="#" />
		</div>
		<div class="functionbar">
			<ul>全部功能
				<li><img src="../image/point.gif" alt="#" /><a href="@{Root.createStation()}">创建站台</a></li>
				<li><img src="../image/point.gif" alt="#" /><a href="@{Root.orderForms()}">订单列表</a></li>
				<li><img src="../image/point.gif" alt="#" /><a href="@{Root.allStation()}">工作站列表</a></li>
				<li><img src="../image/point.gif" alt="#" /><a href="@{Root.orderCount()}">订单统计</a></li>
			</ul>
		</div>
		<div class="orderlist">
			<div class="infobar">
				<span><strong>订单列表(这个页面还没写好！)</strong></span>
				<span class="inputbar">
					<input type="text" value="请输入订单ID搜索订单" id="input" onblur="blurValue();" onfocus="fcousValue();"/>
					<button>搜索</button>
				</span>
			</div>
			 <div class="table">
				<table>
					<th>用户昵称</th>
					<th>目的地</th>
					<th>邮编</th>
					<th>订单号</th>
					<th>条形码</th>
					<th>创建时间</th>
					<th>编辑</th>
					<th>删除</th>
					%{
						while(orderForms.hasNext()){
						Station sta = orderForms.next();
					     for(int i=0;i<orderForms.size();i+=2) { 
					}%
				    <tr class="single">
						<td>%{i}%</td>
						<td>%{sta.userId}%</td>
						<td>%{sta.zipCode}%</td>
						<td>%{sta.amount}%</td>
						<td>%{sta.code}%</td>
						<td>%{sta.createTime}%</td>
						<td><a href="#">编辑</a> </td>
						<td><a href="#">删除</a> </td>
					</tr>
					<tr class="double">
						<td>%{i+1}%</td>
						<td>%{sta.userId}%</td>
						<td>%{sta.zipCode}%</td>
						<td>%{sta.amount}%</td>
						<td>%{sta.code}%</td>
						<td>%{sta.createTime}%</td>
						<td><a href="#">编辑</a> </td>
						<td><a href="#">删除</a> </td>
					</tr>
					%{
					     }
					     }
					}%
				</table>
				<div class="page">
					<span><a href="#">上一页</a></span>
					<span><a href="#">1</a></span>
					<span><a href="#">2</a></span>
					<span><a href="#">3</a></span>
					<span><a href="#">4</a></span>
					<span><a href="#">5</a></span>
					<span><a href="#">6</a></span>
					<span>......</span>
					<span><a href="#">35</a></span>
					<span><a href="#">下一页</a></span>
				</div>
			</div> 
		</div>
	</div>
	<div class="footer">
		<p>CopyRight &copy; 2011 sudo.cn All Rights Reserved</p>
		<p><a href="#">System Introduction</a>&brvbar;
		<a href="#">Contact Us</a>&brvbar;
		<a href="#">Manage</a></p>
	</div>
</body>
</html>